<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rao.dao.RainOrderBroadbandDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rao.pojo.entity.RainOrderBroadband">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="order_type" property="orderType" />
        <result column="user_id" property="userId" />
        <result column="user_nickname" property="userNickname" />
        <result column="product_id" property="productId" />
        <result column="product_title" property="productTitle" />
        <result column="product_desc" property="productDesc" />
        <result column="index_image" property="indexImage" />
        <result column="package_id" property="packageId" />
        <result column="package_name" property="packageName" />
        <result column="original_price" property="originalPrice" />
        <result column="discount_price" property="discountPrice" />
        <result column="order_status" property="orderStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="buyer_name" property="buyerName" />
        <result column="buyer_phone" property="buyerPhone" />
        <result column="buyer_address" property="buyerAddress" />
        <result column="reserve_date" property="reserveDate" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, order_type, user_id, user_nickname, product_id, product_title, product_desc, index_image, package_id, package_name, original_price, discount_price, order_status, pay_status, buyer_name, buyer_phone, buyer_address, reserve_date, create_time
    </sql>

</mapper>
